


form action="login" method="POST" class="log_reg"
    input type="text" name="username" placeholder="Användarnamn"/
    input type="password" name="password" placeholder="Lösenord"/
    input type="submit" value="Logga in"/  