



    form action="edit" method="post"
        - @headgear.each do |headgear|
        input class="part" type="radion" placeholder="majs" name="chosen_headgear" value="#{}"/
  <label for="html">HTML</label><br>