


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*GRUND*/

#grid_wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px minmax(477px, auto);
    grid-template-areas: 
    "he na"
    "se se"
    ;
}

header { 
    background-color: red;
    grid-area: he;
}

nav {
    background-color: aqua;
    grid-area: na;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
section {
    background-color: yellow;
    grid-area: se;
    display: grid;
    place-content: center;
}




/*TEXT, NAV*/

h1 {
    font-size: 20px;
    font-weight: bolder;
    place-self: center;
}

.mknapp {
    height: 75px;
}




/*LOG IN*/

.harinte {
    place-self: center;
    padding: 10px;
    background-color: rgb(190, 234, 165);
    border: 3px solid black;
    color: black;
}



/*REGISTER*/

.reg_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 250px;
}

.error_message {
    place-self: center;
}

.reg_knapp {
    margin-top: -90px;
}


/*SHOW*/

.headgear {
    height: 240px;
    margin-top: -120px;
    z-index: 3;
}

.head {
    height: 245px;
    margin-top: -240px;
    z-index: 2;
} 

.torso {
    height: 244px;
    margin-right: -9px;
    margin-top: -178px;
    z-index: 1;
}

.legs {
    height: 244px;
    margin-top: -189px;
    margin-right: -12px;
}

.equipment {
    height: 320px;
    margin-top: -358px;
    margin-right: -110px;
    z-index: 4;
}



/*FRIENDS*/

.figurebox1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background-color: rgb(112, 240, 20);
    height: 370px;
    width: 250px;
    margin: 30px;
    
}

.figurebox2 {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    top: 30%
}

#friends {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.username {
    margin: 15px;
    font-size: 20px;
    font-weight: bolder;
}




/*EDIT FIGURE*/

#edit_wraper {
    display: flex;
        
}

#edit_form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.edit_box {
    display: flex;
}

.edit_partbox {
    display: flex;
    flex-direction: column-reverse;
}

#delar_lika {
    height: 120px;
}

#plats {
    margin-top: 180px;
}


/*EDIT USER*/

.edit_figure {
    display: flex;
    margin-top: 40px;
    flex-direction: column;    
}

#admin {
    display: flex;
    flex-direction: column-reverse;
}

#adminbox {
    display: flex;
    justify-content: space-evenly;
}

/*FLASH NOTICE*/

.notice {
    background: rgba(100,100,100,0.1);
    width: 60vw;
    padding: 50px;
    position: fixed;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}
   
.error {
    font-size: 25px;
    
}