


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*GRUND*/

#grid_wrapper {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "he na"
    "se se"
    ;
}

header { 
    background-color: red;
    grid-area: he;
}

nav {
    background-color: aqua;
    grid-area: na;
}
section {
    background-color: yellow;
    grid-area: se;
}




/*LOG IN*/

.log_reg {
    display: flex;
    
}





/*FRIENDS*/

.figurbox1 {
    display: grid;
    place-content: center;
    position: relative;
    background-color: blue;
    
}

.figurbox2 {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: blueviolet;
    height: 100px;
}

#friends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

